@import "./src/SCSS/root/breakpoints.scss";
@import "./src/SCSS/root/mixins.scss";
@import "./src/SCSS/root/polyfills.scss";
@import "./src/SCSS/root/animations.scss";
@import "./src/SCSS/root/variables.scss";
@import "./src/SCSS/root/normalize.scss";

@import './src/components/navbar.scss';
@import './src/components/landing_video.scss';
@import './src/components/footer.scss';
@import './src/components/landing_video.scss';
@import './src/components/sports_bar.scss';

body {
  @include font_smoothing();
  background-color: $black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.master__container {
    width: 100%;
    height: 100%;
}

.flex__container {
    display: flex;
}

.flex__container__centered {
    align-items: center;
}

.flex__column {
    display: flex;
    flex-direction: column;
}

.flex__row {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    position: relative;
}
