$navy: rgb(0, 31, 63);
$blue: rgb(0, 116, 217);
$aqua: rgb(127, 219, 255);
$teal: rgb(57, 204, 204);
$olive: rgb(61, 153, 112);
$green: rgb(46, 204, 64);
$lime: rgb(1, 255, 112);
$yellow: rgb(255, 220, 0);
$orange: rgb(255, 133, 27);
$red: rgb(255, 65, 54);
$maroon: rgb(133, 20, 75);
$fuchsia: rgb(240, 18, 190);
$purple: rgb(177, 13, 201);
$black: rgb(17, 17, 17);
$gray: rgb(170, 170, 170);
$grey: rgb(170, 170, 170);
$silver: rgb(221, 221, 221);
$white: rgb(248, 248, 248);
